@import "variables";

// General

html, body {
  height: 100%;
}

a {
  color: $accent;
  &:hover {
    color: $accent;
    text-decoration: underline;
  }
}

// Sections

header {
  background-color: $accent;
  color: #fff;
  position: relative;
  #particles {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .logo-container {
    padding: 70px 0;
    &.visible-xs {
      .logo {
        font-size: 40px;
      }
    }
    .logo {
      border: 1px solid #fff;
      border-radius: 5px;
      display: inline-block;
      font-family: Share;
      font-size: 50px;
      font-weight: 300;
      line-height: 1.7em;
      padding: 0 .5em;
      small {
        font-size: .6em;
        line-height: 0.1em;
      }
    }
  }
}

main {
  padding: 20px 0;
}

.products {
  &.community {
    border: 1px solid rgba(#fff, 0.1);
    padding: 10px;
    text-align: left;
    .title {
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      small {
        display: block;
        color: #aaa;
        font-size: 12px;
        font-weight: 400;
        margin-top: 8px;
        text-transform: uppercase;
      }
    }
    .description {
      margin: 20px 0;
    }
    .links {
      text-align: center;
      a {
        border-radius: 5px;
        display: inline-block;
        padding: 10px 20px;
        transition: 200ms;
        &:first-child {
          border: 1px solid $accent;
          &:hover {
            background-color: $accent;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

footer {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 15px;
  margin-top: 60px;
  .links {
    font-size: 0;
    a {
      color: #aaa;
      display: inline-block;
      font-size: 24px;
      margin-right: 10px;
      transition: 300ms;
      &:last-child { margin: 0; }
      &:hover {
        color: #777;
      }
    }
  }
}
